/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	//font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* reset end */



$font: Helvetica, sans-serif;
$primary-color: #95A5A6;
$accent-color: #16A085;
$accent-color2: #6C7A89;
$font-weight: 200;
$line-height: 1.5;

div,
input,
textarea
{
  box-sizing: border-box;
}

body {
  margin-top: 3em;
  font-family: $font;
  color: $primary-color;
  font-weight: $font-weight;
  line-height: $line-height;
}

h1 {
  font-size: 30pt;
  color: $accent-color2;
  font-weight: $font-weight;
  text-align: center;
}

h2 {
  color: $accent-color;
  font-size: 20pt;
  font-weight: $font-weight;
  text-align: center;
  margin-bottom: 0.7em;
  letter-spacing: 4px;
}

h3 {
  color: $accent-color2;
  font-size: 15pt;
  font-weight: $font-weight;
  letter-spacing: 3px;
}







input, 
textarea {
  margin: 0 0 0.6em;
  width: 100%;
  min-height: 30px;
  padding: 1em;
  font-size: 15pt;
  color: $accent-color2;
  letter-spacing: 1px;
  font-weight: $font-weight;
  background-color: #FCFCFC;
  border: none;
}

label {
  display: block;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: $font-weight;
  margin: 1em auto 0.4em;
}



button {
  display: block;
  margin: 0 auto;
  padding: 1em 2em;
  font-size: 15pt;
  font-weight: $font-weight;
  letter-spacing: 5px;
  color: white;
  background-color: $accent-color;
  border: none;
  border-radius: 40px;
  

}

button:hover {
    background-color: $accent-color2;
  }

input:focus,
textarea:focus
{
	border-color: $accent-color;
  color: black;
}

input:hover,
textarea:hover
{
  background-color: rgba(22,160,133, 0.1);
}




/*input[id*='startYear'],
input[id*='endYear'] 
{
  width: 45%;
  float: left;
}

label[for*='startYear'],
label[for*='endYear']
{
  float: left;
  width: 30%;
}*/




